---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2021 - Present",
    title: "PhD Student/Researcher",
    company: "Universität Bern - ARTORG Center",
    description: "PhD in Biomedical Engineering, focusing on Artificial Intelligence in medical imaging. \
    I develop computer vision algorithms for pancreatic tumor segmentation and classification. \
    I also deploy a MedGemma LLM for automatic extraction of structured information from medical reports.",
  },
  {
    date: "2020 - 2021",
    title: "Analytics partner",
    company: "JoGo Growth experts",
    description:
      "Provided analytics consulting services for tech startups in Brazil. Analytics lead for a prop-tech \
      unicorn, automated data drive sales and pricing decisions for a retail-tech marketplace",
  },
  {
    date: "2018 - 2020",
    title: "Data science specialist",
    company: "McKinsey & Company",
    description:
      "Responsible for analytics workstream on projects in Latin America.\
      Implemented end-to-end solutions using gradient boosting, MLP, CNNs, \
      prophet (time series). Built and deployed ETL pipelines using tools such as Kedro, \
      metaflow, and prefect to connect and process different sources of structured and \
      unstructured data to machine-learning applications",
  },
  {
    date: "2014 - 2018",
    title: "Data science tech lead",
    company: "EDITED",
    description:
      "Trained multiple CNNs for identifying colour, pattern, shape and detail in product images, \
      including feature vector extraction, vector database and fast vector matching and retrieval \
      for image-based product matching similarity search. Built NLP model to classify e-commerce \
      products into internal taxonomy."
  },  
  {
    date: "2013 - 2014",
    title: "Data scientist (MSc internship)",
    company: "Accenture",
    description:
    "Worked with R and SQL for big data handling, machine learning and data analysis. \
    Contributed to projects such as: predicting failures in wind farms, forecast and \
    visualization of wind direction/intensity, confidence of car's engine warning system"
  },
  {
    date: "2007 - 2013",
    title: "Revenue management Sr. Manager",
    company: "LATAM Airlines",
    description:
    "Managed a team of 16, controlling all strategy and business development related to the \
    European and Pacific markets, implementing market segmentation, pricing definition, demand \
    forecasting and inventory management."
  },          
];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
