---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/portfolio/Experience.astro";
import HeroIndex from "../components/portfolio/HeroIndex.astro";
import ListProjects from "../components/portfolio/ListProjects.astro";
import { Icon } from "astro-icon/components";
const pageTitle = "Paulo Sampaio | Senior data scientist";
const description = "Online portfolio of Paulo Sampaio";
const ogimage = {
  url: "/images/imagedefault.webp",
  alt: "Screenshot of a web portfolio with a modern and dark design. Featuring Fernando López, a Frontend Developer with 8 years of experience, highlighting his passion for development and technology. Includes contact sections, projects, and a technology stack with technologies like HTML5, JavaScript, TypeScript, Angular, Node.js, CSS, Tailwind, and more.",
};
import Heading from "../components/ui/Heading.astro";
---

<Layout pageTitle={pageTitle} description={description} ogimage={ogimage}>
  <HeroIndex />

  <section
    class="bg-linear-to-t dark:from-[#0e0e10] from-white from-50% to-transparent to-100% scroll-m-16"
    id="projects"
  >
    <div class="flex flex-col gap-8 max-w-7xl mx-auto">
      <ListProjects>
        <div class="flex gap-4 items-center justify-center text-center">
          <Icon class="text-3xl dark:text-white text-blacktext" name="code" />
          <Heading textGradient="Projects" level={2}/>
        </div>
        <p
          class="z-2 text-center mx-auto text-lg max-xl:text-base max-w-4xl dark:text-gray-200 text-blacktext my-6 leading-6 font-medium"
        >
          This is a selected collection of projects I've worked on — a mix of professional work, PhD research, teaching examples, and personal explorations. 
          It's not everything I've built, but it's a set that I feel represents the kind of work I enjoy: practical, diverse, thoughtful, and creative.
        </p>
      </ListProjects>
    </div>
  </section>
  
  <section
    class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16"
    id="experience"
  >
    <div class="flex flex-col  pt-8 max-w-4xl mx-auto">
      <div class="flex gap-4 items-center justify-center">
        <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
        <Heading text="" textGradient="Work Experience" level={2}/>
      </div>

      <Experience />
    </div>
  </section>

  <!-- <Contact /> -->
</Layout>
